body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.NavigationBar {
  width: 100%;
  height: 54px;
  margin: 0 0 6px 6px;
  background: red;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;

}

.Titulo {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;

}

.ListaOrdenada {
  display: flex;
  list-style: none;
  box-sizing: border-box;
  align-items: center;


}

.ElementoLista {
  margin: 8px;
    box-sizing: border-box;

}